p{
color: #6e8745;	
}
h2{
color: #6e8745;	

}
a{
color: #6e8745;	
padding: 5px;
cursor: hand;
text-decoration: underline;
}
a.link{
color: #6e8745;	
padding: 5px;
float: left;
}
.sub{
color: #6e8745;
background-color: black;
}

#loadCon{
	color:#3a3d32;
	font-family: arial, sans-serif, helvetica;
	font-size: 10px;
	padding: 0px;
}