/*Much of this is from Source: http://veerle-v2.duoh.com/blog/comments/a_css_styled_table/ */
body {
	font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
}
/*Source: http://www.jankoatwarpspeed.com/post/2008/05/22/CSS-Message-Boxes-for-different-message-types.aspx*/
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('/images/Knob_Attention.png');
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width: 800px;
}

th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA /*url(images/bg_header.jpg) no-repeat*/;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
	width: 420px;
}
td#header{
	background: #E6EAE9;
	padding: none;
	border: none;
	color: #4f6b72;
}